.insert-form {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 320px;
  height: 100px; 

}

.delete-form {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 300px;
  height: 50px;
}

.deleteuser-form {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 300px;
  height: 50px;
}

