.article-container{
width: 900px;
padding:30px;
}
.article-box{
padding-bottom:30px;
width:100%;
}
input{padding: 0 20px;
	width: 300px;
	height:40px;
	font-size:22px;
}
button{
	width: 120px;
	height:44px;
	font-size:22px;
}
.buton_export_filme{
	width: 120px;
	height:55px;
	font-size:22px;
}